<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--Settings for database connection.-->
	  <add key="dbKey" value="Server=192.168.102.69;Database=Solstices_ODM_Dev;Uid=ODMDev;Pwd=ODMDev_999;"/>
	  <add key="dbKey_Advanced" value="Server=192.168.102.69;Database=Solstices_ODM_Dev;Uid=ODMDev;Pwd=ODMDev_999;"/>
	  <add key="dbKey_System" value="Server=192.168.102.69;Database=Solstices_ODM_Dev;Uid=ODMDev;Pwd=ODMDev_999;"/>
     <!--<add key="dbKey" value="Server=10.0.0.6;Database=Solstices_ODM_Dev;Uid=user_ODM_Dev_Hxefr5td;Pwd=user_F6fKZgqy;" />
    <add key="dbKey_Advanced" value="Server=10.0.0.6;Database=Solstices_ODM_Dev;Uid=user_ODM_Dev_2bvD9U2G_a;Pwd=user_8y76Cga5;" />
    <add key="dbKey_System" value="Server=10.0.0.6;Database=Solstices_ODM_Dev;Uid=user_ODM_Dev_2bvD9U2G_a;Pwd=user_8y76Cga5;" />-->
	  <!--<add key="ImageArchivedbKey" value="Server=10.0.0.6;Database=Docuportal_Images;Uid=user_ODM_Dev_Hxefr5td;Pwd=user_F6fKZgqy;" />-->
	  <add key="ImageArchivedbKey" value="Server=192.168.102.69;Database=Docuportal_Images;Uid=ODMDev;Pwd=ODMDev_999;" />
    <add key="Login" value="Login.aspx" />
    <add key="CaseIdentifierPrefix" value="PGE-" />
	  <!--This should resolve the email issue-->
	<add key="AppContext.SetSwitch:Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols" value="false" />
	<add key="AppContext.SetSwitch:Switch.System.Net.DontEnableSchUseStrongCrypto" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="ddPaperClaim" providerName="System.Data.SqlClient" connectionString="Server=JMSHOSTING2;Database=Solstices_ODM_Dev;Uid=user_ODM_Dev_2bvD9U2G_a;Pwd=user_8y76Cga5;" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7A" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>

    <pages clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms requireSSL="false" cookieless="UseCookies" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <siteMap defaultProvider="ExtendedSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="ExtendedSiteMapProvider" type="Configuration.ExtendedSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true" />
        <!--<add name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="false"/>-->
      </providers>
    </siteMap>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" defaultRedirect="GenericError.aspx" />
    <!-- This will handle requests up to 20MB  -->
    <httpRuntime maxRequestLength="20480" executionTimeout="6400" enableVersionHeader="false" />
    <!-- <sessionState cookieless="false" timeout="300"></sessionState> -->
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <!--<sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Data Source=WLI_WIN7001\S2008R2;initial catalog=QA_AspState20;Uid=Session_User;Pwd=$ess10n_use@" cookieless="false" timeout="60"/>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="page.aspx" />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 20MB  -->
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>